header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.imagen {
  width: 150px;
  height: auto;
  background-color: white;
  border-radius: 5%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  top: 95px;
  right: 10px;
  position: absolute;
  background-color: #333;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 37px;
}

.menu-icon__line {
  height: 2px;
  width: 35px;
  background-color: white;
  display: block;
  margin: 5px 0;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}